*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}
.body{
    background-color: rgba(170, 0, 10, 0.6);
    width: 1000px;
    height: 800px;
    position: relative;
    left: 50%;
    top: 50vh;
    transform: translate(-50%,-50%);
    border: solid 4px black;
    border-radius: 20px;
   font-size: 3rem;
}
.equacao{
    text-align: center;
    font-size: 3rem;
}
.titulo{
    font-size: 3rem;
    text-align: center;
}
.letraA{
    font-size: 2rem;
    text-align: center;
}
.letraB{
    font-size: 2rem;
    text-align: center;
}
.letraC{
    font-size: 2rem;
    text-align: center;
}
.button1{
font-size: 3rem;
text-align: center;
cursor: pointer;
background-color: blueviolet;
padding: 1rem;
border-radius: 10px;
position: relative;
left: 20%; 
}
.button2{
    position: relative;
    font-size: 3rem;
    text-align: center;
    cursor: pointer; 
    background-color: blueviolet;
    padding: 1rem;
    border-radius: 10px;
    left: 40%;  
}
.conta{
    top: 1rem;
    position: relative;
    background-color: rgba(130, 0, 10, 0.6);
    width: 500px;
    height: 400px;
    border: solid 4px black;
    margin: auto;
    border-radius: 20px;

}
.equacaoR{
    font-size: 3rem;
    text-align: center;
}
.x1{    
    text-align: center;
    font-size: 3rem;
}
.x2{
    text-align: center;
    font-size: 3rem;
}
.raiz1{
    text-align: center;
    font-size: 3rem;
}
.raiz2{
    text-align: center;
    font-size: 3rem;
}
.delta{
    text-align: center;
    font-size: 3rem; 
}
